.container {
  padding: 50px;
  background-color: #04462a;
  text-align: center;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: auto 0;
}

.statItem {
  background-color: transparent;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.statItem:hover {
  transform: translateY(-5px);
}

.statNumber {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb200;
  margin-bottom: 0.5rem;
}

.statLabel {
  font-size: 1rem;
  color: white;
}
